.main, .aside {
    transition: transform 300ms;
}

.aside {
    transform: translate(calc(-1 * theme('spacing.64')));
}

.menu-opened {
    @apply overflow-hidden;
}

.menu-opened .cover {
    display: initial;
}

.menu-opened .aside + .main{
    transform: translate(theme('spacing.64'))
}

.menu-opened .aside {
    @apply shadow-xl;
    transform: translate(0);
}

@screen lg {
    .aside {
        @apply pt-0 h-auto;
        position: initial;
        transform: translate(0px);
    }

    .menu-opened .hamburguer {
        @apply opacity-0;
    }

    .menu-opened {
        overflow: initial;
    }

    .menu-opened .cover{
        @apply hidden;
    }

    .menu-opened .aside + .main{
        transform: translate(0px)
    }

    .menu-opened .aside {
        @apply shadow-none
    }
}
