/* @styled-jsx=global*/



* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro'
}


h1 {
    text-align: left;
    margin-bottom: 22px;
    font-weight: normal;
    font-size: 28pt;
    color: hsl(0, 0%, 35%)
}

h2 {
    text-align: left;
}

