@import 'fonts/sourceCodePro.css';
@import 'fonts/sourceSansPro.css';


@tailwind base;

@responsive {
    .border-box {
        box-sizing: border-box;
    }
    .content-box {
        box-sizing: content-box;
    }
}

* {
    @apply m-0 border-box font-sans;
}


h1 {
    @apply mb-8 font-normal text-4xl text-gray-800 text-left;
}

h2 {
    @apply text-left;
}


@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100
}