/* source-code-pro-regular - latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/source-code-pro-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Source Code Pro'), local('SourceCodePro-Regular'),
         url('/static/fonts/source-code-pro-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/source-code-pro-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/source-code-pro-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/source-code-pro-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/source-code-pro-v10-latin-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
  }